.article {
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 0px;
}

.article > div p {
  margin: 0;
  line-height: 1.3125;
}

.article > div time {
  color: #555;
  font-size: 14px;
}

.article div .img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
