* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary: #0099ff;
  --secondary: #1c5480;
}

html,
body {
  background: #fafafa;
  font-family: var(--font);
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

textarea,
input {
  font-family: var(--font);
}
